version: "3.8"

services:
  hadoop-master:
    image: yassern1/hadoop-spark-jupyter:1.0.3
    container_name: hadoop-master
    hostname: hadoop-master
    ports:
      - "9870:9870"    # NameNode UI
      - "8088:8088"    # YARN UI
      - "7077:7077"    # Spark Master
      - "19888:19888"  # Job History Server
      - "8085:8080"    # Spark Web UI (remapping 8080 -> 8085)
      - "9000:9000"    # HDFS port
    volumes:
      - "C:/Users/USER/Documents/hadoop_project:/shared_volume"
    networks:
      - hadoop

  hadoop-slave1:
    image: yassern1/hadoop-spark-jupyter:1.0.3
    container_name: hadoop-slave1
    hostname: hadoop-slave1
    ports:
      - "8040:8042"
    networks:
      - hadoop

  hadoop-slave2:
    image: yassern1/hadoop-spark-jupyter:1.0.3
    container_name: hadoop-slave2
    hostname: hadoop-slave2
    ports:
      - "8041:8042"
    networks:
      - hadoop

networks:
  hadoop:
    driver: bridge
